 @keyframes bungee-in {
        0% {
            transform: translateY(-100vh);
            opacity: 0;
        }
        60% {
            transform: translateY(25px);
            opacity: 1;
        }
        80% {
            transform: translateY(-10px);
        }
        100% {
            transform: translateY(0);
        }
    }

    .loader {
        border: 8px solid #f3f3f3; /* Light grey */
        border-top: 8px solid #3498db; /* Blue */
        border-radius: 50%;
        width: 60px;
        height: 60px;
        animation: spin 2s linear infinite;
        margin: 20px auto; /* Zentriert den Loader horizontal */
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }


    .animate-bungee-in {
        animation: bungee-in 1s ease-out forwards;
    }

    .hidden {
        display: none !important;
    }